@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Chilanka", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-loading-screen {
  width: 100vw;
  height: calc(100vh - 11rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
